lesscss-percentage(n)
  (n * 100)%
left-side-width = 220px
light-blue = rgb(60, 141, 188, 1)
red = rgb(245, 105, 84, 1)
green = rgb(0, 166, 90, 1)
aqua = rgb(0, 192, 239, 1)
yellow = rgb(243, 156, 18, 1)
blue = rgb(0, 115, 183, 1)
navy = rgb(0, 31, 63, 1)
teal = rgb(57, 204, 204, 1)
olive = rgb(61, 153, 112, 1)
lime = rgb(1, 255, 112, 1)
orange = rgb(255, 133, 27, 1)
fuchsia = rgb(240, 18, 190, 1)
purple = rgb(147, 42, 182, 1)
maroon = rgb(133, 20, 75, 1)
black = rgb(34, 34, 34, 1)
gray = rgb(234, 234, 236, 1)
link-color = light-blue
link-hover-color = lighten(link-color, 15%)
body-bg = rgb(249, 249, 249, 1)
table-striped-color = rgb(243, 244, 245, 1)
sidebar-light-bg = rgb(244, 244, 244, 1)
sidebar-light-hover-bg = rgb(249, 249, 249, 1)
sidebar-light-font = rgb(85, 85, 85, 1)
sidebar-light-border = rgb(219, 219, 219, 1)
screen-xs = 480px
screen-sm = 767px
screen-md = 992px
screen-lg = 1200px
screen-header-collapse = 560px
box-border-color = rgb(244, 244, 244, 1)
box-border-radius = 3px
box-footer-bg = rgb(255, 255, 255, 1)
input-radius = 0px
btn-border-radius = 3px
attachment-border-radius = 3px
