/*! movingpi_v2 0.1.0 version: 2014-10-03 */
.bg-light-blue {
  background-color: #3c8dbc !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.box-light-blue {
  border-top-color: #3c8dbc;
}
.bg-red {
  background-color: #f56954 !important;
}
.text-red {
  color: #f56954 !important;
}
.box-red {
  border-top-color: #f56954;
}
.bg-aqua {
  background-color: #00c0ef !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.box-aqua {
  border-top-color: #00c0ef;
}
.bg-green {
  background-color: #00a65a !important;
}
.text-green {
  color: #00a65a !important;
}
.box-green {
  border-top-color: #00a65a;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.text-yellow {
  color: #f39c12 !important;
}
.box-yellow {
  border-top-color: #f39c12;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.text-blue {
  color: #0073b7 !important;
}
.box-blue {
  border-top-color: #0073b7;
}
.bg-navy {
  background-color: #001f3f !important;
}
.text-navy {
  color: #001f3f !important;
}
.box-navy {
  border-top-color: #001f3f;
}
.bg-teal {
  background-color: #39cccc !important;
}
.text-teal {
  color: #39cccc !important;
}
.box-teal {
  border-top-color: #39cccc;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.text-olive {
  color: #3d9970 !important;
}
.box-olive {
  border-top-color: #3d9970;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.box-lime {
  border-top-color: #01ff70;
}
.bg-orange {
  background-color: #ff851b !important;
}
.text-orange {
  color: #ff851b !important;
}
.box-orange {
  border-top-color: #ff851b;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.box-fuchsia {
  border-top-color: #f012be;
}
.bg-purple {
  background-color: #932ab6 !important;
}
.text-purple {
  color: #932ab6 !important;
}
.box-purple {
  border-top-color: #932ab6;
}
.bg-maroon {
  background-color: #85144b !important;
}
.text-maroon {
  color: #85144b !important;
}
.box-maroon {
  border-top-color: #85144b;
}
.bg-black {
  background-color: #222 !important;
}
.text-black {
  color: #222 !important;
}
.box-black {
  border-top-color: #222;
}
.bg-gray {
  background-color: #eaeaec !important;
}
.text-gray {
  color: #eaeaec !important;
}
.box-gray {
  border-top-color: #eaeaec;
}
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
  color: #f9f9f9 !important;
}
.bg-teal-gradient,
.bg-light-blue-gradient,
.bg-blue-gradient,
.bg-aqua-gradient,
.bg-yellow-gradient,
.bg-orange-gradient,
.bg-purple-gradient,
.bg-green-gradient,
.bg-olive-gradient,
.bg-red-gradient,
.bg-black-gradient,
.bg-gray-gradient,
.bg-maroon-gradient {
  color: #fff;
}
.bg-teal-gradient {
  background: #39cccc !important;
  background: -webkit-linear-gradient(top, #59d4d4 0%, #39cccc 100%) !important;
  background: -moz-linear-gradient(top, #59d4d4 0%, #39cccc 100%) !important;
  background: -o-linear-gradient(top, #59d4d4 0%, #39cccc 100%) !important;
  background: -ms-linear-gradient(top, #59d4d4 0%, #39cccc 100%) !important;
  background: linear-gradient(to bottom, #59d4d4 0%, #39cccc 100%) !important;
}
.bg-light-blue-gradient {
  background: #3c8dbc !important;
  background: -webkit-linear-gradient(top, #509cc7 0%, #3c8dbc 100%) !important;
  background: -moz-linear-gradient(top, #509cc7 0%, #3c8dbc 100%) !important;
  background: -o-linear-gradient(top, #509cc7 0%, #3c8dbc 100%) !important;
  background: -ms-linear-gradient(top, #509cc7 0%, #3c8dbc 100%) !important;
  background: linear-gradient(to bottom, #509cc7 0%, #3c8dbc 100%) !important;
}
.bg-blue-gradient {
  background: #0073b7 !important;
  background: -webkit-linear-gradient(top, #0081ce 0%, #0073b7 100%) !important;
  background: -moz-linear-gradient(top, #0081ce 0%, #0073b7 100%) !important;
  background: -o-linear-gradient(top, #0081ce 0%, #0073b7 100%) !important;
  background: -ms-linear-gradient(top, #0081ce 0%, #0073b7 100%) !important;
  background: linear-gradient(to bottom, #0081ce 0%, #0073b7 100%) !important;
}
.bg-aqua-gradient {
  background: #00c0ef !important;
  background: -webkit-linear-gradient(top, #03cdff 0%, #00c0ef 100%) !important;
  background: -moz-linear-gradient(top, #03cdff 0%, #00c0ef 100%) !important;
  background: -o-linear-gradient(top, #03cdff 0%, #00c0ef 100%) !important;
  background: -ms-linear-gradient(top, #03cdff 0%, #00c0ef 100%) !important;
  background: linear-gradient(to bottom, #03cdff 0%, #00c0ef 100%) !important;
}
.bg-yellow-gradient {
  background: #f39c12 !important;
  background: -webkit-linear-gradient(top, #f5ac38 0%, #f39c12 100%) !important;
  background: -moz-linear-gradient(top, #f5ac38 0%, #f39c12 100%) !important;
  background: -o-linear-gradient(top, #f5ac38 0%, #f39c12 100%) !important;
  background: -ms-linear-gradient(top, #f5ac38 0%, #f39c12 100%) !important;
  background: linear-gradient(to bottom, #f5ac38 0%, #f39c12 100%) !important;
}
.bg-orange-gradient {
  background: #ff851b !important;
  background: -webkit-linear-gradient(top, #ff993f 0%, #ff851b 100%) !important;
  background: -moz-linear-gradient(top, #ff993f 0%, #ff851b 100%) !important;
  background: -o-linear-gradient(top, #ff993f 0%, #ff851b 100%) !important;
  background: -ms-linear-gradient(top, #ff993f 0%, #ff851b 100%) !important;
  background: linear-gradient(to bottom, #ff993f 0%, #ff851b 100%) !important;
}
.bg-purple-gradient {
  background: #932ab6 !important;
  background: -webkit-linear-gradient(top, #ac3cd2 0%, #932ab6 100%) !important;
  background: -moz-linear-gradient(top, #ac3cd2 0%, #932ab6 100%) !important;
  background: -o-linear-gradient(top, #ac3cd2 0%, #932ab6 100%) !important;
  background: -ms-linear-gradient(top, #ac3cd2 0%, #932ab6 100%) !important;
  background: linear-gradient(to bottom, #ac3cd2 0%, #932ab6 100%) !important;
}
.bg-green-gradient {
  background: #00a65a !important;
  background: -webkit-linear-gradient(top, #00be67 0%, #00a65a 100%) !important;
  background: -moz-linear-gradient(top, #00be67 0%, #00a65a 100%) !important;
  background: -o-linear-gradient(top, #00be67 0%, #00a65a 100%) !important;
  background: -ms-linear-gradient(top, #00be67 0%, #00a65a 100%) !important;
  background: linear-gradient(to bottom, #00be67 0%, #00a65a 100%) !important;
}
.bg-olive-gradient {
  background: #3d9970 !important;
  background: -webkit-linear-gradient(top, #43a87b 0%, #3d9970 100%) !important;
  background: -moz-linear-gradient(top, #43a87b 0%, #3d9970 100%) !important;
  background: -o-linear-gradient(top, #43a87b 0%, #3d9970 100%) !important;
  background: -ms-linear-gradient(top, #43a87b 0%, #3d9970 100%) !important;
  background: linear-gradient(to bottom, #43a87b 0%, #3d9970 100%) !important;
}
.bg-red-gradient {
  background: #f56954 !important;
  background: -webkit-linear-gradient(top, #f67865 0%, #f56954 100%) !important;
  background: -moz-linear-gradient(top, #f67865 0%, #f56954 100%) !important;
  background: -o-linear-gradient(top, #f67865 0%, #f56954 100%) !important;
  background: -ms-linear-gradient(top, #f67865 0%, #f56954 100%) !important;
  background: linear-gradient(to bottom, #f67865 0%, #f56954 100%) !important;
}
.bg-black-gradient {
  background: #222 !important;
  background: -webkit-linear-gradient(top, #383838 0%, #222 100%) !important;
  background: -moz-linear-gradient(top, #383838 0%, #222 100%) !important;
  background: -o-linear-gradient(top, #383838 0%, #222 100%) !important;
  background: -ms-linear-gradient(top, #383838 0%, #222 100%) !important;
  background: linear-gradient(to bottom, #383838 0%, #222 100%) !important;
}
.bg-gray-gradient {
  background: #eaeaec !important;
  background: -webkit-linear-gradient(top, #ececee 0%, #eaeaec 100%) !important;
  background: -moz-linear-gradient(top, #ececee 0%, #eaeaec 100%) !important;
  background: -o-linear-gradient(top, #ececee 0%, #eaeaec 100%) !important;
  background: -ms-linear-gradient(top, #ececee 0%, #eaeaec 100%) !important;
  background: linear-gradient(to bottom, #ececee 0%, #eaeaec 100%) !important;
}
.bg-maroon-gradient {
  background: #85144b !important;
  background: -webkit-linear-gradient(top, #a4195c 0%, #85144b 100%) !important;
  background: -moz-linear-gradient(top, #a4195c 0%, #85144b 100%) !important;
  background: -o-linear-gradient(top, #a4195c 0%, #85144b 100%) !important;
  background: -ms-linear-gradient(top, #a4195c 0%, #85144b 100%) !important;
  background: linear-gradient(to bottom, #a4195c 0%, #85144b 100%) !important;
}
@font-face {
  font-family: "Stroke";
  src: url("../fonts/stroke-regular.otf");
}
body > .header .logo {
  font-family: "Stroke", sans-serif;
}
span.operations {
  word-spacing: 10px;
}
span.operations .impersonate {
  margin-right: 15px;
}
.js-confirmed-column .display-none {
  display: none;
}
