.navbar-nav
  & > .user-menu
    & > .dropdown-menu
      -webkit-border-radius 0
      -moz-border-radius 0
      border-radius 0
      padding 1px 0 0 0
      border-top-width 0
      width 280px
      &:after
        bottom 100%
        right 10px
        border solid transparent
        content " "
        height 0
        width 0
        position absolute
        pointer-events none
        border-color rgba(255, 255, 255, 0)
        border-bottom-color #ffffff
        border-width 10px
        margin-left -10px
      & > li
        &.user-header
          height 175px
          padding 10px
          background #222
          text-align center
          & > img
            z-index 5
            height 90px
            width 90px
            border 8px solid
            border-color transparent
            border-color rgba(255, 255, 255, 0.2)
          & > p
            z-index 5
            color #f9f9f9
            color rgba(255, 255, 255, 0.8)
            font-size 17px
            text-shadow 2px 2px 3px #333333
            margin-top 10px
            & > small
              display block
              font-size 12px
        &.user-body
          padding 15px
          border-bottom 1px solid #f4f4f4
          border-top 1px solid #dddddd
          &:after
            clear both
          & > div
            & > a
              color #0073b7
        &.user-footer
          background-color #f9f9f9
          padding 10px
          &:after
            clear both
          .btn-default
            color #666666

.navbar-nav > .user-menu > .dropdown-menu > li.user-body:before,
.navbar-nav > .user-menu > .dropdown-menu > li.user-body:after,
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:before,
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after
  display table
  content " "

.open
  & > .dropdown-menu
    animation-name fadeAnimation
    animation-duration .7s
    animation-iteration-count 1
    animation-timing-function ease
    animation-fill-mode forwards

@keyframes fadeAnimation
  from
    opacity 0
    top 120%
  to
    opacity 1
    top 100%

// Fix dropdown menu for small screens to display correctly on small screens
@media screen and (max-width: 767px)
  .navbar-nav > .notifications-menu > .dropdown-menu,
  .navbar-nav > .user-menu > .dropdown-menu,
  .navbar-nav > .tasks-menu > .dropdown-menu,
  .navbar-nav > .messages-menu > .dropdown-menu
    position absolute
    top 100%
    right 0
    left auto
    border-right 1px solid #dddddd
    border-bottom 1px solid #dddddd
    border-left 1px solid #dddddd
    background #ffffff