//vars

// $color= $color_name, $color_value

$light-blue = 'light-blue', rgba(60, 141, 188, 1)
$red = 'red', rgb(245, 105, 84, 1)
$aqua = 'aqua', rgba(0, 192, 239, 1)
$green = 'green', rgba(0, 166, 90, 1)
$yellow = 'yellow', rgba(243, 156, 18, 1)
$blue = 'blue', rgba(0, 115, 183, 1)
$navy = 'navy', rgba(0, 31, 63, 1)
$teal = 'teal', rgba(57, 204, 204, 1)
$olive = 'olive', rgba(61, 153, 112, 1)
$lime = 'lime', rgba(1, 255, 112, 1)
$orange = 'orange, 'rgba(255, 133, 27, 1)
$fuchsia = 'fuchsia', rgba(240, 18, 190, 1)
$purple = 'purple', rgba(147, 42, 182, 1)
$maroon = 'maroon', rgba(133, 20, 75, 1)
$black = 'black', rgba(34, 34, 34, 1)
$gray = 'gray', rgba(234, 234, 236, 1)

// extra box colors ----------------------

$colors = $light-blue, $red, $aqua, $green, $yellow, $blue, $navy, $teal, $olive, $lime, $orange, $fuchsia, $purple, $maroon, $black, $gray


for $color in $colors
  //background colors
  .bg-{$color[0]}
    background-color $color[1] !important
  // Text colors
  .text-{$color[0]}
    color $color[1] !important
  .box-{$color[0]}
    border-top-color $color[1]




// Background colors ---------------------
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black
  color #f9f9f9 !important


// Gradients -----------------------------

// var reset

$light-blue = $light-blue[1]
$red = $red[1]
$aqua = $aqua[1]
$green = $green[1]
$yellow = $yellow[1]
$blue = $blue[1]
$navy = $navy[1]
$teal = $teal[1]
$olive = $olive[1]
$lime = $lime[1]
$orange = $orange[1]
$fuchsia = $fuchsia[1]
$purple = $purple[1]
$maroon = $maroon[1]
$black = $black[1]
$gray = $gray[1]

$gradient-text
  color #fff


.bg-teal-gradient
  gradient($teal, $teal, lighten($teal, 16%))
  @extends $gradient-text

.bg-light-blue-gradient
  gradient($light-blue, $light-blue, lighten($light-blue, 12%))
  @extends $gradient-text

.bg-blue-gradient
  gradient($blue, $blue, lighten($blue, 7%))
  @extends $gradient-text

.bg-aqua-gradient
  gradient($aqua, $aqua, lighten($aqua, 7%))
  @extends $gradient-text

.bg-yellow-gradient
  gradient($yellow, $yellow, lighten($yellow, 16%))
  @extends $gradient-text

.bg-orange-gradient
  gradient($orange, $orange, lighten($orange, 16%))
  @extends $gradient-text

.bg-purple-gradient
  gradient($purple, $purple, lighten($purple, 16%))
  @extends $gradient-text

.bg-green-gradient
  gradient($green, $green, lighten($green, 7%))
  @extends $gradient-text

.bg-olive-gradient
  gradient($olive, $olive, lighten($olive, 7%))
  @extends $gradient-text

.bg-red-gradient
  gradient($red, $red, lighten($red, 10%))
  @extends $gradient-text

.bg-black-gradient
  gradient($black, $black, lighten($black, 10%))
  @extends $gradient-text

.bg-gray-gradient
  gradient($gray, $gray, lighten($gray, 10%))
  @extends $gradient-text

.bg-maroon-gradient
  gradient($maroon, $maroon, lighten($maroon, 10%))
  @extends $gradient-text
