//vars file

// site color scheme

// white
$site_white = #fafafa

// black
$site_black = #333

//green
$site_green = #94C500 //#C7F803

//site vars

$site_bg = $site_black   //#FAFAFA   //#F2F1EC
$body_color = $site_white   //#fff
$nav_underline = lighten($site_green, 10%)
$nav_font_color = #666
$nav_hover_color = darken($nav_font_color, 10%)
$drop_shadow_color = rgba(60, 26, 57, 0.2)
$body_border_color = #DDD //to make drop shadow look more natural
$margin_top_footer = 30
$footer_height = 120
$footer_text_color = #DDD
$link_color = darken($site_green, 20%)
$link_hover_color = darken($link_color, 20%)


//dark color theme

// $site_bg = #666
// $body_color = #333
// $nav_font_color = #DDD
// $nav_hover_color = darken($nav_font_color, 20%)
// $drop_shadow_color = lighten(rgba(60, 26, 57, 0.2), 80%)



// color vars

$alert = rgba(204, 0, 0, 1)
