@import 'includes/mixins'
@import 'includes/adminLTE_colors'

@font-face
  font-family "Stroke"
  src url("../fonts/stroke-regular.otf")

body
  & >
    .header
      .logo
        font-family "Stroke", sans-serif

span
  &.operations
    word-spacing 10px
    .impersonate
      margin-right 15px

.js-confirmed-column
  .display-none
    display none

