//vars

// imports ----------------------------------------------

@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
@import 'includes/vars'
@import 'includes/mixins'
@import 'includes/colors'
@import 'includes/adminLTE_buttons'
@import 'includes/adminLTE_user_dropdown'
@import 'includes/adminLTE_colors'

//-------------------------------------------------------

@font-face
  font-family "Axis"
  src url("../fonts/axis.otf")

//html
//  position relative
//  min-height 100%

body
  padding-top 60px
  //margin-bottom $footer_height + $margin_top_footer px
  background $site_bg
  font-family 'Source Sans Pro', sans-serif
  -webkit-font-smoothing antialiased

// base rules overwrites

a
  color $link_color
  &:hover
    color $link_hover_color
  &:active
    color $link_hover_color
  &:focus
    color $link_hover_color

// .body ----------------------------------------------------------------------------

.body
  background $body_color

// top navbar -----------------------------------------------------------------------

.navbar-main
  box-shadow 0px 0px 5px $drop_shadow_color
  margin-bottom 30px
  border-bottom 1px solid $body_border_color
  background $body_color
  color $nav_font_color
  .navbar-brand
    color $nav_font_color
    font-family "Axis", sans-serif
    text-shadow none
    padding-top 20px
    padding-bottom 20px
    outline 0
  .navbar-inner
    div.dropdown
      margin-right 15px
    .nav
      li
        & > a
          color $nav_font_color
          text-shadow none
          background none
          box-shadow none
          transition background 0.1s linear,opacity 0.1s linear
          -webkit-font-smoothing antialiased
          opacity 1
          font-weight 600
          outline 0
          padding-top 20px
          padding-bottom 20px
          font-size 16px
          &:hover
            &:not(.dropdown-toggle)
              border-bottom 4px solid $nav_underline
              padding-bottom 16px
              box-shadow none
              color $nav_hover_color
              opacity 1
        &.active
          & > a
            color $nav_hover_color
            border-bottom 4px solid $nav_underline
            padding-bottom 16px
    .navbar-form
      padding 5px 0
    .navbar-toggle
      color $nav_font_color
      .icon-bar
        background-color $nav_font_color
        &:hover
          background-color $nav_hover_color
    .navbar-text
      padding 5px 0

//------------------------------------------------------------------

// Dropdown login/user ---------------------------------------------

.dropdown-login
  background $body_color
  padding 20px
  width 300px
  input
    &:not(:first-child)
      margin-top 10px

.dropdown-login-text
  margin-top 20px
  margin-bottom -5px


//-------------------------------------------------------------------

.teste
  background-image url('http://p1.pichost.me/i/41/1640904.jpg')
  background-position 0 -300px, center
  background-size 130%
  height 350px
  h3
    color #fff
    text-shadow 1px 1px 3px #999

//------------------------------------------------------------------

.main-container
  //background $body_color
  //border 1px solid $body_border_color
  //border-top 0
  //border-bottom 0
  //box-shadow 0px 0px 8px $drop_shadow_color
  margin-top -20px
  padding 30px 15px

.breadcrumb
  background none


.footer-main
  //position absolute
  //bottom 0
  //width 100%
  border-top 2px solid $body_border_color
  //height $footer_height px
  //background $body_color
  padding 20px 0
  //box-shadow 0px 0px 5px $drop_shadow_color
  line-height 1.7
  color $footer_text_color
  ul
    list-style none
    margin 0
    padding 0
  .container
    //border-top 2px solid $drop_shadow_color
  .brand
    @extends .navbar-main .navbar-brand
    color $footer_text_color
    height: 50px;
    font-size: 18px;
    line-height: 20px;
  a
    color $footer_text_color
  .group-title
    font-weight 600
    font-size 18px
    line-height 20px
    margin-bottom 20px

// btns -------------------------------------------------------------

.btn-black
  background-color hsl(0, 0%, 16%) !important
  background-repeat repeat-x
  background-image linear-gradient(#5b5b5b, #282828)
  border-color #282828 #282828 hsl(0, 0%, 11%)
  color #fff !important
  text-shadow 0 -1px 0 rgba(0, 0, 0, 0.33)
  -webkit-font-smoothing antialiased
  &:hover
    background-position 0 -15px

.btn-login
  width 100px

.btn-backoffice
  margin-left 0

//----------------------------------------------------------------------

//---Login page---------------------------------------------------------



//----------------------------------------------------------------------

.col-movie
  border 1px solid transparent
  &:hover
    cursor pointer
    border 1px solid $nav_underline


//helper classes

$v-spacer
  width 100%
  font-size 0
  margin 0
  padding 0
  border 0
  display block

for $num in (5 10 15 20 25 30 35 40 45 50 100 150)
  .v-spacer-{$num}
    @extends $v-spacer
    height $num px

.transparent-bg
  background transparent

.margin-0
  margin 0