//site colors

$site_bg = #F2F1EC
$body_color = #fff


@font-face
  font-family "Axis"
  src url("../fonts/axis.otf")

body
  background $site_bg

.navbar-main
  border-bottom 1px solid rgba(60, 26, 57, 0.2)
  box-shadow 0px 0px 5px rgba(60, 26, 57, 0.2)
  margin-bottom 0
  background #fff
  .navbar-brand
    font-family "Axis", sans-serif
    color #666
    text-shadow none
    padding-top 20px
    padding-bottom 20px
  .navbar-inner
    .nav
      li
        a
          color #666
          padding-top 20px
          padding-bottom 20px
          text-shadow none
          background none
          box-shadow none
          transition background 0.1s linear,opacity 0.1s linear
          -webkit-font-smoothing antialiased
          opacity 1
          font-weight 600
        & > a
          &:hover
            border-bottom 4px solid #C7F803
            padding-bottom 16px
            -webkit-box-shadow none
            -moz-box-shadow none
            box-shadow none
            color #333
            opacity 1
        &.active
          & > a
            color #333
            border-bottom 4px solid #C7F803
            padding-bottom 16px
    .navbar-form
      padding 5px 0
    .navbar-toggle
      border-color #ddd
      color #333
      .icon-bar
        background-color #888
    .navbar-text
      padding 5px 0

.container
  &.main-container
    background $body_color
    border 1px solid #DDD
    border-top 0
    border-bottom 0
    box-shadow 0px 0px 8px rgba(60, 26, 57, 0.2)
    margin-top -20px
    min-height 100%
    padding 20px

.breadcrumb
  background none

.btn-custom
  background-color hsl(0, 0%, 16%) !important
  background-repeat repeat-x
  background-image linear-gradient(#5b5b5b, #282828)
  border-color #282828 #282828 hsl(0, 0%, 11%)
  color #fff !important
  text-shadow 0 -1px 0 rgba(0, 0, 0, 0.33)
  -webkit-font-smoothing antialiased
  &:hover
    background-position 0 -15px

.footer-main
  margin-top 20px
  background $body_color
  border-top 1px solid #DDD
  padding 20px 0
  box-shadow 0px 0px 5px rgba(60, 26, 57, 0.2)

.dropdown-login
  padding 20px
  width 300px
  input
    &:not(:first-child)
      margin-top 10px

.dropdown-login-text
  margin-top 20px
  margin-bottom -5px

.col-movie
  border 1px solid transparent
  &:hover
    cursor pointer
    border 1px solid #C7F803

